<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h3>Edit Car</h3>
<form action="/admin/editcar/commit" enctype="multipart/form-data" method="post">
    <input type="hidden" name="carId" th:value="${carDto.getId()}"/></br>
    <label>Type:
        <input type="text" name="type" th:placeholder="${carDto.getType()}"/>
    </label></br>
    <label>Is it available?
        <select name="isAvailable">
            <option>-</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
        </select>
    </label></br>
    <label>Price:
        <input type="number" name="price" th:placeholder="${carDto.getPrice()}"/>
    </label></br>
    <label>Image:
        <input type="file" name="file"/>
    </label></br>
    <input type="submit" value="Save"/>
</form>
<label name="errorMsg" style="color: red" th:if="${carDto.isNewCarSaved()}  == false">
    Please select answer for availability!</label>
</body>
</html>