<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start page</title>
</head>
<body>
<h3>Choose period for renting a car</h3>
<form action="/cars" method="get">
    <div>
        <label for="startDate">From:</label>
        <input type="date" name="startDate" id="startDate"/>
    </div>
    </br>
    <div>
        <label for="endDate">To:</label>
        <input type="date" name="endDate" id="endDate"/>
    </div>
    </br>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
</body>
</html>